// $myColor: red;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// navigation bar start-----

.nav {
  background-color: black;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nav .search-container {
  width: 60%;
  border: 1px solid transparent;
}

.nav input {
  width: 75%;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
}

.nav input:focus {
  outline: none;
}

.nav button {
  width: 25%;
  background-color: orangered;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

// navigation bar end-----
// container for content start -------

.main .tabs {
  width: 10%;
  display: flex;
  //   justify-content: space-between;
  //   border: 1px solid red;
  margin-left: 15%;
  cursor: pointer;
}

.main .tabs .tab {
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  // background-color: lightgray;
  padding: 10px;
}

// list of items ...

.movie-card {
  width: 70%;
  margin: 10px auto;
  //   border: 1px solid red;
  box-shadow: 0px 0px 6px 0px gray;
  display: flex;
}

.movie-card .left {
  //   border: 5px solid red;
  width: 20%;
}

.movie-card .left img {
  width: 100%;
}
.movie-card .right {
  // border: 5px solid black;
  width: 80%;
}

.movie-card .right .title {
  font-size: 25px;
  font-weight: 700;
  margin: 5px;
}

.movie-card .right .plot {
  margin: 5px;
}

.footer {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid red;
  margin-top: 100px;
}

.footer .rating {
  font-size: 20px;
  font-weight: 800;
}

.footer .favorite-btn {
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(106, 235, 228);
  padding: 10px;
  border: none;

  border-radius: 5px;
}

.footer .unfavorite-btn {
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(235, 106, 106);
  padding: 10px;
  border: none;

  border-radius: 5px;
}

.active-tab {
  font-weight: 900;
  background-color: rgb(36, 122, 118);
}

/* For 480 Resolution */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */

  .nav .search-container {
    width: 100%;
    border: 1px solid transparent;
  }
  .nav input {
    width: 75%;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
  }
  .nav button {
    width: 25%;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
  }
}
